<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="1"; URL=https://finalapi11.herokuapp.com/index.html">
    <title>DATA</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
<h1 class="display-1">LIVE DATA</h1>

<h2 class="display-2">{{data.data}}</h2>
<h6 class="display-6">{{data.API_Key}}</h6>
    <h6 class="display-6">{{data.mac}}</h6>
     <h6 class="display-6">{{data.field}}</h6>

    <br>
    <br>


</body>
</html>